*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;    
}
html{
  height:100vh;
}

body{
  height: 100vh;
  padding-top: 30px;
  background: rgb(35, 35, 67) url(imagenes/Los\ Horneritos.jpg) no-repeat  fixed;
}
section{
  position: absolute;
  bottom: 0px;

}
footer{
  position: absolute;
  bottom: 0;
}
 h1{
  font-size: 100px;
  text-align: center;
  color: rgb(45, 106, 163);
  text-shadow:2px 4px 5px white ;
  transition: transform 2s ease-in-out;
}
h1:hover{
  color: blueviolet;
  transform: translatex(-20px);
}
.imagen{
  height: 470px;
  width: 520px;
  border-radius: 10%;
 position: absolute;
 bottom: -1px;
 left: 280px;
 transition: transform 1s ease;
}
.imagen:hover{
  transform: translatex(70px);
}
h3{
  font: 25px bold 'Times New Roman' ;
  color: rgb(201, 192, 192);
  padding: 5px 10px;
  display: flex;
  float: right;
}
